<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Your Next Role</title>

    <!-- Bootstrap -->
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
#yournextrole {
    text-align: center;
    padding: 1em 1em 1em 1em;
    margin: 2em;
}

#yournextrole p {
    font-size: 2em;
    background-color: #66e;
    display: inline;
    padding: .4em .8em .4em .8em;
    border-radius: .5em;
    border: 4px solid #448;
}

#yournextrole p a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

#container {
    width: 750px;
    text-align: c;
/*   background-color: #eee;*/
    margin-left: auto;
    margin-right: auto;
}

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
$(document).ready(function() {
    $('#yournextrole a').click(function() {
        data = {
            level: $('#level').text(),
            noun: $('#noun').text(),
            agent_noun: $('#agent_noun').text()
        }
        delete data[this.id];
        $.ajax({
            url:'./',
            data: data
        }).done(function(data) {
            console.log(data);
            $('#level').text(data.level);
            $('#noun').text(data.noun);
            $('#agent_noun').text(data.agent_noun);
        });
        return false;
    });
});
    </script>
  </head>
  <body>
  <div id="container">
  <h2>Your Next Role</h2>
  <p>We have assessed your career potential and determined that your next role should be:</p>
  <div id="yournextrole">
    <p><a id="level" href="/?noun={{ noun|urlencode }}&amp;agent_noun={{ agent_noun|urlencode }}">{{ level }}</a>
       <a id="noun"  href="/?level={{ level|urlencode }}&amp;agent_noun={{ agent_noun|urlencode }}">{{ noun }}</a>
       <a id="agent_noun"  href="/?level={{ level|urlencode }}&amp;noun={{ noun|urlencode }}">{{ agent_noun }}</a></p>
  </div>
  <p>We wish you luck in your new position.</p>

  <p><a href="./">Click here</a> for a second opinion, or click the words if you don't like any of them.</p>

  <p id="about">Code for this website is available <a href="https://github.com/Joeboy/yournextrole">here</a>.</p>

  </div>


  </body>
</html>
